* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slideshow-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #393737;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 1.25s ease-in;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

/* Show & Hide Slide logic*/

.show-slide {
  visibility: visible;
  opacity: 1;
}

.hide-slide {
  visibility: hidden;
  opacity: 0;
}

/* Custom Arrows */
.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 15vw;
  position: absolute;
  top: 0;
  z-index: 10;
  cursor: pointer;
  padding: 2rem;
  @media (min-width: 768px) {
    background-color: rgba(92, 94, 97, 0.6);
  }
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.line {
  width: 10px;
  height: 3rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  @media (min-width: 768px) {
    height: 10rem;
    background-color: #ddd5d5;
  }
}

.line-1 {
  transform: translateY(5px) rotate(30deg);
  @media (min-width: 768px) {
    transform: translateY(6px) rotate(20deg);
  }
}

.line-2 {
  transform: translateY(-5px) rotate(-30deg);
  @media (min-width: 768px) {
    transform: translateY(-6px) rotate(-20deg);
  }
}

.line-3 {
  transform: translateY(5px) rotate(-30deg);
  @media (min-width: 768px) {
    transform: translateY(6px) rotate(-20deg);
  }
}

.line-4 {
  transform: translateY(-5px) rotate(30deg);
  @media (min-width: 768px) {
    transform: translateY(-6px) rotate(20deg);
  }
}

/* play/pause */
.play-pause {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  z-index: 20; /* More than arrows*/
  transform: translateX(-50%);
  cursor: pointer;
}

.play-pause i {
  font-size: 3.25rem;
  color: #fff;
}
